.current-conditions {
  margin-bottom: $s-size;
}

.current-conditions__summary {
  background-color: yellow;
  padding: 0 $s-size;
}

.current-conditions__details {
  display: flex;
  justify-content: space-between;
  padding: 0 $s-size;
}

.current-conditions__temperature {
  color: white;
  font-size: $jumbo-size;
  font-weight: 300;
  flex: 2;
  letter-spacing: -8px;
  line-height: 0.8em;
  text-shadow: 0 0 4px rgba(0, 0, 0, .6);
  margin: 0;
}

.current-conditions__high-low {
  background-color: purple;
  flex: 1;
}