.current-conditions {
  color: white;
  margin-bottom: $s-size;
  text-shadow: 0 0 4px rgba(0, 0, 0, .6);
}

.current-conditions__summary {
  align-items: center;
  display: flex;
  padding: 0 $s-size;
}

.current-conditions__header {
  font-size: $l-size
}

.current-conditions__date {
  font-size: $xs-size;
  margin-top: 4px;
}

.current-conditions__details {
  display: flex;
  justify-content: space-between;
  padding: 0 $s-size;
}

.current-conditions__temperature {
  font-size: $jumbo-size;
  flex: 3;
  letter-spacing: -6px;
  line-height: 0.8em;
  margin: 0;
}

.current-conditions__high-low {
  flex: 2;
  font-size: $l-size;
}