.forecast-day {
  align-items: center;
  background-color: $teal-transparent;
  display: flex;
  margin-top: 1px;
  padding: 0 $s-size;
}

.forecast-day__date {
  flex: 2;
}

.forecast-day__conditions {
  align-items: center;
  display: flex;
  flex: 1;
}