.input {
  border: none;
  color: $dark-gray;
  flex-grow: 1;
  padding: $micro-size;
}

// Buttons
.button {
  background-color: $light-blue;
  border: none;
  color: $dark-gray;
  font-weight: 500;
  padding: $micro-size;
}

