.input {
  border: none;
  color: $dark-gray;
  flex-grow: 1;
  padding: $micro-size;
}

.button {
  background-color: $teal;
  border: 1px solid $teal;
  color: white;
  font-weight: 500;
  padding: $micro-size;
}

@media (min-width: $desktop-breakpoint) {
  .button {
    border: none;
  }  
}
