.forecast-day {
  align-items: center;
  background-color: $teal-transparent;
  font-size: $m-size;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
  padding: 10px $s-size;
}

.forecast-day__conditions {
  align-items: center;
  display: flex;
}

.forecast-day__conditions-display {
  display: none;
  margin-right: $s-size;
}

.forecast-day__conditions-icon {
  margin-right: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .forecast-day {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    margin-top: 4px;
    border-radius: 10px;
    padding: 14px $s-size;
  }

  .forecast-day__conditions-display {
    display: inline-block;
  }
}