.forecast-day {
  align-items: center;
  background-color: $teal-transparent;
  font-weight: 700;
  display: flex;
  margin-top: 1px;
  padding: 2px $s-size;
}

.forecast-day__date {
  flex: 2;
}

.forecast-day__conditions {
  align-items: center;
  display: flex;
  flex: 1;
}