.header-wrapper {
  background-color: $dark-gray;
  width: 100%;
}

.header {
  align-items: center;
  color: $light-blue;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: $m-size;
  margin: 0;
  padding: $s-size;
}

.header__desktop-form {
  display: none;
  background: blue;
}

.header__mobile-form {
  background-color: red;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin: 0 auto;
    width: 70rem;
  }

  .header__desktop-form {
    display: block;
  }

  .header__mobile-form {
    display: none;
  }
}