.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: lighten($teal, 20%);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
  color: white;
  max-width: 60rem;
  outline: none;
  padding: $xl-size;
  text-align: center;  

  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 1.6rem;
  }
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}