.weather-app {
  background-image: url('/images/clouds.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top center;
  height: 100vh;
}

@media (min-width: $desktop-breakpoint) {
  .weather-app {
    background-size: cover;
    // height: 100%;
  }  
}

.sunny { background-image: url('/images/sunny.jpg') }
.clear { background-image: url('/images/clear.jpg') }
.partly-cloudy { background-image: url('/images/clouds.jpg') }
.cloudy { background-image: url('/images/clouds.jpg') }
.overcast { background-image: url('/images/overcast.jpg') }
.mist { background-image: url('/images/mist.jpg') }
.patchy-rain-possible { background-image: url('/images/light-rain.jpg') }
.patchy-snow-possible { background-image: url('/images/light-snow.jpg') }
.patchy-sleet-possible { background-image: url('/images/light-snow.jpg') }
.patchy-freezing-drizzle-possible { background-image: url('/images/light-rain.jpg') }
.thundery-outbreaks-possible { background-image: url('/images/lightning.jpg') }
.blowing-snow { background-image: url('/images/snow.jpg') }
.blizzard { background-image: url('/images/snow.jpg') }
.fog { background-image: url('/images/mist.jpg') }
.freezing-fog { background-image: url('/images/mist.jpg') }
.patchy-light-drizzle { background-image: url('/images/light-rain.jpg') }
.light-drizzle { background-image: url('/images/light-rain.jpg') }
.freezing-drizzle { background-image: url('/images/light-rain.jpg') }
.heavy-freezing-drizzle { background-image: url('/images/light-rain.jpg') }
.patchy-light-rain { background-image: url('/images/light-rain.jpg') }
.light-rain { background-image: url('/images/light-rain.jpg') }
.moderate-rain-at-times { background-image: url('/images/rain.jpg') }
.moderate-rain { background-image: url('/images/rain.jpg') }
.heavy-rain-at-times { background-image: url('/images/rain.jpg') }
.heavy-rain { background-image: url('/images/rain.jpg') }
.light-freezing-rain { background-image: url('/images/light-snow.jpg') }
.moderate-or-heavy-freezing-rain { background-image: url('/images/light-snow.jpg') }
.light-sleet { background-image: url('/images/snow.jpg') }
.moderate-or-heavy-sleet { background-image: url('/images/snow.jpg') }
.patchy-light-snow { background-image: url('/images/light-snow.jpg') }
.light-snow { background-image: url('/images/light-snow.jpg') }
.patchy-moderate-snow { background-image: url('/images/snow.jpg') }
.moderate-snow { background-image: url('/images/snow.jpg') }
.patchy-heavy-snow { background-image: url('/images/snow.jpg') }
.heavy-snow { background-image: url('/images/snow.jpg') }
.ice-pellets { background-image: url('/images/snow.jpg') }
.light-rain-shower { background-image: url('/images/light-rain.jpg') }
.moderate-or-heavy-rain-shower { background-image: url('/images/rain.jpg') }
.torrential-rain-shower { background-image: url('/images/rain.jpg') }
.light-sleet-showers { background-image: url('/images/light-snow.jpg') }
.moderate-or-heavy-sleet-showers { background-image: url('/images/snow.jpg') }
.light-snow-showers { background-image: url('/images/light-snow.jpg') }
.moderate-or-heavy-snow-showers { background-image: url('/images/snow.jpg') }
.light-showers-of-ice-pellets { background-image: url('/images/light-snow.jpg') }
.moderate-or-heavy-showers-of-ice-pellets { background-image: url('/images/snow.jpg') }
.patchy-light-rain-with-thunder { background-image: url('/images/light-rain.jpg') }
.moderate-or-heavy-rain-with-thunder { background-image: url('/images/lightning.jpg') }
.patchy-light-snow-with-thunder { background-image: url('/images/lightning.jpg') }
.moderate-or-heavy-snow-with-thunder { background-image: url('/images/lightning.jpg') }
