// Colors
$black: #0b0c10;
$dark-gray: #1f2833;
$gold: #c5c6c7;
$light-blue: #66fcf1;
$teal: #45a29e;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;