// Colors
$black: #0b0c10;
$dark-gray: #1f2833;
$gold: #c5c6c7;
$light-blue: #66fcf1;
$teal: #45a29e;
$teal-transparent: rgba(69, 162, 158, .9);

// Spacing
$micro-size: 0.7rem;
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 2.7rem;
$xl-size: 4.8rem;
$jumbo-size: 11rem;
$desktop-breakpoint: 45rem;